USE [master]
GO
/****** Object:  Database [HistoriaClinicaElectronica]    Script Date: 6/1/2025 9:45:04 AM ******/
CREATE DATABASE [HistoriaClinicaElectronica]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HistoriaClinicaElectronica', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HistoriaClinicaElectronica.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HistoriaClinicaElectronica_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HistoriaClinicaElectronica_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HistoriaClinicaElectronica].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HistoriaClinicaElectronica]
GO
/****** Object:  Table [dbo].[ACOMPANANTE]    Script Date: 6/1/2025 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACOMPANANTE](
	[AcompananteID] [int] NOT NULL,
	[PacienteID] [int] NULL,
	[TipoID] [varchar](10) NULL,
	[PrimerApellido] [varchar](50) NULL,
	[SegundoApellido] [varchar](50) NULL,
	[PrimerNombre] [varchar](50) NULL,
	[SegundoNombre] [varchar](50) NULL,
	[Parentesco] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[AcompananteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[PacienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ANTECEDENTES_FAMILIARES]    Script Date: 6/1/2025 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANTECEDENTES_FAMILIARES](
	[AntecedenteID] [int] NOT NULL,
	[PacienteID] [int] NULL,
	[Descripcion] [text] NULL,
	[TipoAntecedente] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[AntecedenteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONDUCTA_FINAL]    Script Date: 6/1/2025 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONDUCTA_FINAL](
	[ConductaID] [int] NOT NULL,
	[ConsultaID] [int] NULL,
	[ConductaDescripcion] [text] NULL,
	[FechaRegistro] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ConductaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIAGNOSTICO]    Script Date: 6/1/2025 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIAGNOSTICO](
	[DiagnosticoID] [int] NOT NULL,
	[DiagnosticoCod] [varchar](20) NULL,
	[DiagnosticoNombre] [varchar](100) NULL,
	[DiagnosticoTipo] [varchar](50) NULL,
	[ConsultaID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DiagnosticoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOTIVO_CONSULTA]    Script Date: 6/1/2025 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOTIVO_CONSULTA](
	[ConsultaID] [int] NOT NULL,
	[MotivoAtencion] [text] NULL,
	[ExamenFisico] [text] NULL,
	[PacienteID] [int] NULL,
	[ProfesionalID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ConsultaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PACIENTE]    Script Date: 6/1/2025 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PACIENTE](
	[PacienteID] [int] NOT NULL,
	[TipoID] [varchar](10) NULL,
	[PrimerApellido] [varchar](50) NULL,
	[SegundoApellido] [varchar](50) NULL,
	[PrimerNombre] [varchar](50) NULL,
	[SegundoNombre] [varchar](50) NULL,
	[FechaNacimiento] [date] NULL,
	[SexoBiologico] [varchar](20) NULL,
	[IdentidadGenero] [varchar](30) NULL,
	[Ocupacion] [varchar](100) NULL,
	[Pais] [varchar](50) NULL,
	[Municipio] [varchar](50) NULL,
	[Etnia] [varchar](50) NULL,
	[ComunidadEtnica] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PacienteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROFESIONAL]    Script Date: 6/1/2025 9:45:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFESIONAL](
	[ProfesionalID] [int] NOT NULL,
	[TipoID] [varchar](10) NULL,
	[Nombre] [varchar](100) NULL,
	[Especialidad] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProfesionalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ACOMPANANTE]  WITH CHECK ADD FOREIGN KEY([PacienteID])
REFERENCES [dbo].[PACIENTE] ([PacienteID])
GO
ALTER TABLE [dbo].[ANTECEDENTES_FAMILIARES]  WITH CHECK ADD FOREIGN KEY([PacienteID])
REFERENCES [dbo].[PACIENTE] ([PacienteID])
GO
ALTER TABLE [dbo].[CONDUCTA_FINAL]  WITH CHECK ADD FOREIGN KEY([ConsultaID])
REFERENCES [dbo].[MOTIVO_CONSULTA] ([ConsultaID])
GO
ALTER TABLE [dbo].[DIAGNOSTICO]  WITH CHECK ADD FOREIGN KEY([ConsultaID])
REFERENCES [dbo].[MOTIVO_CONSULTA] ([ConsultaID])
GO
ALTER TABLE [dbo].[MOTIVO_CONSULTA]  WITH CHECK ADD FOREIGN KEY([PacienteID])
REFERENCES [dbo].[PACIENTE] ([PacienteID])
GO
ALTER TABLE [dbo].[MOTIVO_CONSULTA]  WITH CHECK ADD FOREIGN KEY([ProfesionalID])
REFERENCES [dbo].[PROFESIONAL] ([ProfesionalID])
GO
USE [master]
GO
